<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <mat-toolbar>
    <span>Appointments</span>
  </mat-toolbar>

  <table id="app1" mat-table  class="mat-elevation-z8">

    <mat-card class="mat-elevation-z4" *ngFor="let appointment  of appointments">
    <mat-card-header>
      <mat-card-title>Appointment Id: {{appointment.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{appointment.description}}</p>
      <p>Date: {{appointment.date}}</p>
      <p>Time: {{appointment.time}}</p>
    </mat-card-content>
  </mat-card>
  </table>
  <button (click)="goBack()" color="primary" mat-raised-button>BACK</button>
</div>

