<mat-toolbar>
  <span>Pet Registration Form</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="addPetGroup" (ngSubmit)="addPet(addPetGroup.value)"  class="my-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label> Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date Of Birth</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Is Vaccinated</mat-label>
        <mat-select formControlName="isVaccinated">
          <mat-option *ngFor="let status of isVaccinated" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>PetType</mat-label>
        <mat-select formControlName="petType">
          <mat-option *ngFor="let petType of petTypes" [value]="petType">{{petType.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <h3>Owner info</h3>
      <table class="full-width" [formGroup]="addOwnerGroup" ><tr>
        <td><mat-form-field appearance="fill" class="full-width">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>address</mat-label>
            <input formControlName="address" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Phone</mat-label>
            <input formControlName="telephoneNumber" matInput>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field></td>
      </tr></table>
      <br>
      <!--<mat-form-field appearance="fill" class="full-width">
        <mat-label>Owner's id</mat-label>
        <input formControlName="owner" matInput>
      </mat-form-field>
      <br>-->
      <mat-card-actions>
        <button color="primary" mat-raised-button>Add pet</button>
        <button (click)="goBack()" color="warn" mat-raised-button>BACK</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
