mat-grid-tile {
  background: lightblue;
}
#admin1{
  background-color: aliceblue;
}
#admin2{
  background-color: aliceblue;
}

.container{
  background-image: url("src/assets/image/dog_on_the_beach.jpg");
}
