<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button><a mat-button routerLink="/add-owner">Add Owner</a></button>
  </div>

  <mat-toolbar>
    <span>List of active owners</span>
  </mat-toolbar>

  <table id="owner1" mat-table [dataSource]="dataSourceActiveOwner" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
      <td mat-cell *matCellDef="let owner"> {{owner.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let owner"> {{owner.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let owner"> {{owner.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let owner"> {{owner.address}} </td>
    </ng-container>

    <ng-container matColumnDef="telephoneNumber">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> phone Number </th>
      <td mat-cell *matCellDef="let owner"> {{owner.telephoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let owner"> {{owner.email}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let owner">
        <mat-card-actions>
          <!--<button mat-raised-button (click)="ownersPets(owner)" color="primary">Pets</button>-->
          <button mat-raised-button (click)="updateOwner(owner)" color="primary">Update</button>
          <button mat-raised-button color="warn" (click)="deleteOwner(owner.id)">Delete</button>
          <!--<button mat-raised-button color="primary" (click)="addPets(owner)">Add pet</button>-->
        </mat-card-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsActiveOwner"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsActiveOwner;"></tr>
  </table>

  <mat-toolbar>
    <span>List of all owners</span>
  </mat-toolbar>

  <table id="owner2" mat-table [dataSource]="dataSourceOwnerAll" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
      <td mat-cell *matCellDef="let owner"> {{owner.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let owner"> {{owner.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let owner"> {{owner.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let owner"> {{owner.address}} </td>
    </ng-container>

    <ng-container matColumnDef="telephoneNumber">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> phone Number </th>
      <td mat-cell *matCellDef="let owner"> {{owner.telephoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let owner"> {{owner.email}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let owner">
        <mat-card-actions>
          <!--<button mat-raised-button (click)="updateOwner(owner)" color="primary">Update</button>-->
          <!--<button mat-raised-button color="warn" (click)="deleteOwner(owner.id)">Delete</button>-->
          <button mat-raised-button color="accent" (click)="fullyDeleteOwner(owner.id)">Full Delete</button>
          <button mat-raised-button color="primary" (click)="restoreOwner(owner.id)">Restore</button>
        </mat-card-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsOwnerAll"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsOwnerAll;"></tr>
  </table>
  <button (click)="goBack()" color="primary" mat-raised-button>BACK</button>
</div>
<hr>
<br>
