<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button><a mat-button routerLink="/add-pet">Add Pet</a></button>
  </div>

  <mat-toolbar>
    <span>List of active pets</span>
  </mat-toolbar>

  <table id="pet1" mat-table [dataSource]="dataSourceActivePet" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
      <td mat-cell *matCellDef="let pet"> {{pet.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let pet"> {{pet.name}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth </th>
      <td mat-cell *matCellDef="let pet"> {{pet.dateOfBirth}} </td>
    </ng-container>

    <!--<ng-container matColumnDef="isVaccinated">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Vaccination </th>
      <td mat-cell *matCellDef="let pet"> {{pet.isVaccinated}} </td>
    </ng-container>-->

    <!--<ng-container matColumnDef="petType">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> PetType </th>
      <td mat-cell *matCellDef="let pet"> {{pet.petType}} </td>
    </ng-container>-->

    <!--<ng-container matColumnDef="owner">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Owner Id </th>
      <td mat-cell *matCellDef="let pet"> {{pet.owner}} </td>
    </ng-container>-->

    <ng-container matColumnDef="button">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let pet">
        <mat-card-actions>
          <button mat-raised-button (click)="petAppointments(pet)" color="primary">Appointments</button>
          <button mat-raised-button (click)="update(pet)" color="primary">Update</button>
          <button mat-raised-button color="warn" (click)="deletePet(pet.id)">Delete</button>
          <button mat-raised-button color="primary" (click)="addAppointments(pet.id)">New-App</button>
        </mat-card-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsActivePet"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsActivePet;"></tr>
  </table>

  <mat-toolbar>
    <span>List of all pets</span>
  </mat-toolbar>

  <table id="pet2" mat-table [dataSource]="dataSourcePetAll" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
      <td mat-cell *matCellDef="let pet"> {{pet.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let pet"> {{pet.name}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth </th>
      <td mat-cell *matCellDef="let pet"> {{pet.dateOfBirth}} </td>
    </ng-container>

    <!--<ng-container matColumnDef="isVaccinated">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Vaccination </th>
      <td mat-cell *matCellDef="let pet"> {{pet.isVaccinated}} </td>
    </ng-container>

    <ng-container matColumnDef="petType">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> PetType </th>
      <td mat-cell *matCellDef="let pet"> {{pet.petType}} </td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Owner Id </th>
      <td mat-cell *matCellDef="let pet"> {{pet.owner}} </td>
    </ng-container>-->

    <ng-container matColumnDef="button">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let pet">
        <mat-card-actions>
          <!--<button mat-raised-button (click)="update(pet)" color="primary">Update</button>-->
          <!--<button mat-raised-button color="warn" (click)="deletePet(pet.id)">Delete</button>-->
          <button mat-raised-button color="accent" (click)="fullyDeletePet(pet.id)">Full Delete</button>
          <button mat-raised-button (click)="restorePet(pet.id)">Restore</button>
        </mat-card-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsPetAll"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPetAll;"></tr>
  </table>
  <button (click)="goBack()" color="primary" mat-raised-button>BACK</button>
</div>
