<mat-toolbar color="primary">
  <a mat-button routerLink="/">PetClinic.com</a>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/service" routerLinkActive="active"><span class="fa fa-object-group fa-lg"></span> Services</a>
  <a mat-button routerLink="/price" routerLinkActive="active"><span class="fa fa-money fa-lg"></span> Prices</a>
  <a mat-button routerLink="/appointment" routerLinkActive="active"><span class="fa fa-calendar-times-o fa-lg"></span> Appointment</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-group fa-lg"></span> About us</a>
  <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/admin" routerLinkActive="active"><span class="fa fa-file-archive-o fa-lg"></span> Admin</a>
</mat-toolbar>
