<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Started in 2019, PetClinic quickly established itself as a vet clinic icon par excellence in Estonia. With its unique team that can be found nowhere else, it enjoys assisting the best clients in Tallinn.  With the best an veterinarians and assistants, you know who will always count on our best effort to you and our family pet. Hope to see you soon.</p>
        <p>Being a veterinarian definitely comes with unique challenges.
          But after interviewing vets from all over the country, we were surprised to discover that this noble calling can be lined with even more obstacles than we thought.
          What didn't surprise us is the fact that none of these amazing vets let anything stand in the way of their dreams.</p>

        <h2>The Mascot</h2>
        <p>
          "Feral cats aren't generally known for being cuddly and warm. They are mostly anti-social and prefer to be left alone. That's exactly the opposite for Mason, who was rescued from a large feral cat colony then adopted by the Clinic.
          The one thing that was missing for Mason was contact with another living being. Since being adopted by our clinic, he loves to welcome every person coming to the clinic and now he is the clinic's mascot."
        </p>
      </div>
      <div fxFlex="30">
        <mat-card fxFlex>
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
              <h3>Mason</h3>
            </mat-card-title>
          </mat-card-header>
          <img alt='img.jpg' mat-card-image src="../../assets/image/images.jpg">
          <mat-card-content>
            <p>Animals are our best friends</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <strong>Stories:</strong>
        <br>
        - Veterinarians Share Inspiring Tales of Overcoming Career Challenges FOR DOG PEOPLE SHARETWEETPIN IT.
      </blockquote>
    </mat-card>
  </div>
</div>
