<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Started in 2019, PetClinic quickly established itself as a vet clinic icon par excellence in Estonia. With its unique team that can be found nowhere else, it enjoys assisting the best clients in Tallinn.  With the best an veterinarians and assistants, you know who will always count on our best effort to you and our family pet. Hope to see you soon.</p>
        <p>Being a veterinarian definitely comes with unique challenges.
          But after interviewing vets from all over the country, we were surprised to discover that this noble calling can be lined with even more obstacles than we thought.
          What didn't surprise us is the fact that none of these amazing vets let anything stand in the way of their dreams.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>3 Dec. 2019</dd>
              <dt>Major Stake Holder</dt>
              <dd>HK Fine Foods Inc.</dd>
              <dt>Last Year's Customers</dt>
              <dd>5 stars</dd>
              <dt>Patients</dt>
              <dd>Over few thousands</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <strong>Stories:</strong>
        <br>
        - Veterinarians Share Inspiring Tales of Overcoming Career Challenges FOR DOG PEOPLE SHARETWEETPIN IT.
      </blockquote>
    </mat-card>
  </div>
</div>
