<mat-toolbar>
  <span>Owner Registration Form</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="addAdminGroup" (ngSubmit)="addAdmin(addAdminGroup.value)"  class="my-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <label>
          <input type="text" formControlName="firstName" matInput required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <label>
          <input type="text" formControlName="lastName" matInput required>
        </label>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <label>
          <input type="password" formControlName="password" matInput required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <label>
          <input type="email" formControlName="email" matInput required>
        </label>
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button [disabled]="addAdminGroup.invalid" color="primary" mat-raised-button>Add Admin</button>
        <button (click)="goBack()" color="warn" mat-raised-button>BACK</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
