<mat-toolbar>
  <span>PetType Update Form</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="updatePetTypeGroup" (ngSubmit)="updatePetType(updatePetTypeGroup.value)"  class="my-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Id Number</mat-label>
        <label>
          <input type="number" formControlName="id" matInput placeholder="id" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <label>
          <input type="text" formControlName="name"  matInput placeholder="name" required>
        </label>
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button color="primary" [disabled]="updatePetTypeGroup.invalid" mat-raised-button>Update</button>
        <button (click)="goBack()" color="warn" mat-raised-button>BACK</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

