mat-grid-tile {
  background: lightblue;
}
#petType1{
  background-color: beige;
}
#petType2{
  background-color: beige;
}

.container{
  background-image: url("src/assets/image/dog_on_the_beach.jpg");
}
