mat-grid-tile {
  background: lightblue;
}
#pet1{
  background-color: lightgrey;
}
#pet2{
  background-color: lightgrey;
}

.container{
  background-image: url("src/assets/image/dog_on_the_beach.jpg");
}

.content {
  padding: 16px;
}

.mat-elevation-z4 {
  width: 200px;
}
