<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>ADMINISTRATOR TABLE</h3>
    </mat-card-title>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <section>
      <div class="example-label">Admin</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary">
              Add
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent">
              List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Appointment</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/appointment">
              Add
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/appointment-list">
              List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Pet</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-pet">
              Add
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/pet-list">
              List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">PetType</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-petType">
              Add
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/petType-list">
              List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Owner</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-owner">
              Add
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/owner-list">
              List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>





