<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>ADMINISTRATOR TABLE</h3>
    </mat-card-title>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <section>
      <div class="example-label">
       <strong>Admin</strong>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-admin">
              Add New
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/admin-list">
             View List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">
      <strong>Appointment</strong>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/appointment">
              Add New
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/appointment-list">
              View List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">
        <strong>Owner</strong>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-owner">
              Add New
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/owner-list">
              View List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">
      <strong>Pet</strong>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-pet">
              Add New
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/pet-list">
              View List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">
      <strong>PetType</strong>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-petType">
              Add New
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/petType-list">
              View List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">
        <strong>Vet</strong>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button color="primary" routerLink="/add-vet">
              Add New
            </button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button color="accent" routerLink="/vet-list">
              View List
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>





