<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <h3>Wellness and Preventive Medicine</h3>
    <p>Our family owned and operated clinic is designed  to help prevent disease and illness in your family's pets.
      Our goal is to help you minimize the need to treat and cure preventable diseases. Preventative medicine increases your pet's chances of having a long and healthy life.
      We accomplish this through routine annual physical examinations of your pet, proper nutrition, parasite control and through the use of a vaccination program based on an individualized risk assessment for your pet.
      Depending on your pet lifestyle we are able to offer yearly to three year vaccine program.</p>

    <h3>Physical Examinations</h3>
    <p>
      Of all the services we offer our clients, we believe this is the most important one. A thorough examination allows us to pinpoint diseases before they develop.
      Palpation of your pet from head to toe gives us the opportunity to locate not only unwanted guests but allow us to feel internal organs that may be abnormally enlarged or other serious abnormalities.
      Touch is the most developed tool in our arsenal of diagnostic instruments. Naturally we do recommend having blood work processed yearly, similar to what your own doctor recommends, as this also provides us with valuable information that can only be retrieved through in-depth analysis.
    </p>

    <h3>Surgery</h3>
    <p>
      We have a fully equipped surgical suite here at our Veterinary Clinic.
      This enables us to be able to offer a variety of surgical services for your pet, including affordable spays and neuters, soft tissue surgeries,
      eye surgeries and orthopedic surgeries, Patellar Luxation, Femoral Head Osteotomy and many more.
    </p>

    <h3>Dentistry</h3>
    <p>
      We do routine dental work such as cleaning and extractions by appointment.
      A pre-dentistry examination is required before any dental surgery in order to determine what needs to be done and also to evaluate your pet's surgical health.
    </p>

    <h3>Radiology</h3>
    <p>
      In-house X-Ray  equipment aids us in quickly assessing any physical injury or anomaly that may be affecting you pet’s well being.
      We can then quickly determine the appropriate course of action, medical and/or surgical.
    </p>

    <h3>Laboratory</h3>
    <p>
      Our in-house laboratory facilities provide for serum chemistry, hematology, serology, urinalysis, cytology, and parasite testing.
      We also utilize commercial veterinary laboratories for specialized diagnostics and consultations.
    </p>

    <h3>Pet Identification</h3>
    <p>
      A pet is a member of the family, and lost pet can be very emotionally traumatic. Here at our Veterinary Clinic we offer microchip implant identification services.
      Any veterinary clinic or animal shelter equipped with a chip reader can quickly scan any animal for a chip to enable them to track down the animal's family quickly.
    </p>

    <h3>Pharmacy</h3>
    <p>
      We maintain a complete inventory of pharmaceuticals, vitamins, shampoos, flea and tick control products and heartworm preventatives to meet the needs of your pet.
      We also carry a full line of prescription diets.
    </p>

    <h3>Anesthesia</h3>
    <p>
      We utilize the safest available anesthetics to provide an extra margin of safety, especially for our older or high-risk patients.
      Using the most modern equipment including: pulse oximetry, electrocardiogram, and blood pressure; the patient's vital signs are monitored during all anesthetic procedures.
    </p>
  </div>
</div>

