mat-grid-tile {
  background: lightblue;
}
#vet1{
  background-color: honeydew;
}
#vet2{
  background-color: honeydew;
}

.container{
  background-image: url("src/assets/image/dog_on_the_beach.jpg");
}
