mat-grid-tile {
  background: lightblue;
}
#pet1{
  background-color: lightgrey;
}
#pet2{
  background-color: lightgrey;
}

.container{
  background-image: url("../../assets/image/dog_on_the_beach.jpg");
}
